.menu-btn{
  display: none;
}
/*media query for smaller screens show menu bar */
@media (max-width: 768px) {
  .menu-btn{
    display: block;
    cursor: pointer;
    border: 2px;
  }
  .sidebar {
    position: fixed;
    left: -100%;
    top: 56px;
    height: 100%;
    transition: left 0.3s ease;
  }

  .sidebar.open {
    left: 0;
  }
}